template(name='nav')
    // .ui.fluid.fixed.menu.topnav(style="background-color:#{currentUser.theme_color};")
    .ui.fluid.borderless.attached.inverted.menu.topnav
        a.icon.item.toggle_sidebar
            i.large.bars.icon
        a.header.item(href="/" class="{{isActivePath '/'}}")
            i.large.store.icon
            |the stand
        a.item.set_member.mobile.hidden(href="/m/member" class="{{isActivePath '/m/member'}}" title='users')
            i.large.users.icon
            |players
        a.item.mobile.hidden.set_event(href="/events" class="{{isActivePath '/events'}}" title='events')
            i.large.calendar.icon
            | events
        a.item.mobile.hidden.set_project(href="/m/project" class="{{isActivePath '/m/post'}}" title='feed')
            i.large.clone.icon
            | projects
        a.item.mobile.hidden.set_location(href="/m/location" class="{{isActivePath '/m/location'}}" title='location')
            i.large.marker.icon
            | locations
        a.item.mobile.hidden.set_task(href="/m/task" class="{{isActivePath '/m/task'}}" title='tasks')
            i.large.tasks.icon
            | tasks
        a.item.mobile.hidden.set_task(href="/m/asset" class="{{isActivePath '/m/asset'}}" title='assets')
            i.large.wrench.icon
            | assets
        if is_admin
            a.icon.item.mobile.hidden(href="/m/model" class="{{isActivePath regex='model'}}" title='admin')
                i.database.large.icon
        .right.menu
            if unread_count
                a.item.alerts.select_term(href="#" class=alert_toggle_class)
                    i.large.bell.icon
                    if unread_count
                        |#{unread_count}
            else
                a.icon.item(href="/inbox" class="{{isActiveRoute 'inbox'}}")
                    i.large.outline.bell.icon
            // a.icon.item(href="/chat" title='chat') 
            // a.icon.item(href="/user/#{currentUser.username}/messages" class="{{isActivePath 'user_messages'}}" title="#{user.username} messages")
            //     i.chat.large.icon
            if is_dev 
                .icon.item
                    i.large.code.icon
            if currentUser
                a.large.item(href="/user/#{currentUser.username}" class="{{isActiveRoute 'user_dashboard'}}")
                    //- i.large.user.large.icon
                    if currentUser.profile_image_id
                        if is_admin
                            i.large.shield.icon(title='admin mode on')
                        else
                            img.ui.avatar.compact.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                    else 
                        i.large.user.large.icon
                    strong.mobile.hidden #{currentUser.name}
                a.mobile.hidden.item(href="/user/#{currentUser.username}/credit" class="{{isActiveRoute 'user_credit'}}")
                    |#{currentUser.credit}c
                a.mobile.hidden.item(href="/user/#{currentUser.username}/credits" class="{{isActiveRoute 'user_credits'}}")
                    |#{currentUser.points}p
                a.icon.large.item.toggle_rightbar.select_term
                    i.bars.large.icon
            else
                a.item(href="/register" title='register')
                    |register
                    i.large.user.add.icon
                a.item(href="/login" title='login')
                    |login
                    i.large.chevron.right.icon
    if session_is 'viewing_alerts'
        +topbar



template(name='topbar')
    .ui.fluid.large.attached.segment(style="background-color:#{currentUser.theme_color};" class=currentUser.invert_class)
        .ui.middle.aligned.divided.list
            each recent_alerts
                +recent_alert
        a.ui.icon.attached.basic.button.item.close_topbar(href="/inbox")
            i.inbox.large.icon
            |inbox
        
template(name='recent_alert')        
    .item.alert
        .right.floated.content
            i.eye.link.large.icon.mark_read(title='mark read')
        img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
        .content
            .header
                |#{description} 
            .description #{author.name} #{made_when}
            
            
            
            
template(name='right_sidebar')
    .ui.right.sidebar.vertical.borderless.inverted.menu
        // a.item.toggle_rightbar(href="/user/#{currentUser.username}" class="{{isActiveRoute 'user_layout'}}")
        //     img.ui.avatar.compact.image(src="{{c.url 'one_logo' height=200 width=200 gravity='face' crop='fill'}}")
        //     |#{currentUser.name}
        a.item.toggle_rightbar(href="/user/#{currentUser.username}/" class="{{isActiveRoute 'user_dashboard'}}")
            | dashboard (#{currentUser.points}p)
            i.large.dashboard.icon
        
        a.item.toggle_rightbar(href="/user/#{currentUser.username}/about" class="{{isActiveRoute 'user_about'}}")
            | about
            i.large.info.icon
        a.item.toggle_rightbar(href="/user/#{currentUser.username}/events" class="{{isActiveRoute 'user_events'}}")
            | events
            i.large.calendar.icon
        a.item.toggle_rightbar(href="/user/#{currentUser.username}/orders" class="{{isActiveRoute 'user_orders'}}")
            | orders
            i.large.cart.icon
        // a.item.toggle_rightbar(href="/user/#{currentUser.username}/messages" class="{{isActiveRoute 'user_messages'}}")
        //     | chat
        //     i.chat.icon
        .ui.divider
        a.item.toggle_rightbar(href="/user/#{currentUser.username}/edit" title='edit your account')
            i.cog.large.icon
            |settings
        a.item.logout(href="/user/#{currentUser.username}/messages" class="{{isActiveRoute 'user_messages'}}" )
            |logout
            if is_logging_out
                i.refresh.loading.icon
            else
                i.sign.out.icon



template(name='left_sidebar')
    .ui.left.sidebar.vertical.large.borderless.inverted.menu
        // a.item.toggle_sidebar(href="/" class="{{isActiveRoute '/'}}")
        //     img.ui.avatar.compact.image(src="{{c.url 'one_logo' height=200 width=200 gravity='face' crop='fill'}}")
        //     |One
        a.item.set_member.toggle_sidebar(href="/m/member" class="{{isActivePath 'm/member'}}" title='players')
            i.large.users.icon
            | players
        a.item.toggle_sidebar(href="/events" class="{{isActivePath '/events'}}")
            i.large.calendar.icon
            |events
        a.item.toggle_sidebar(href="/m/task" class="{{isActivePath '/m/task'}}")
            i.large.task.icon
            |tasks
        a.item.toggle_sidebar(href="/m/offer" class="{{isActivePath '/m/offer'}}")
            i.large.hand.holding.heart.icon
            |projects
        a.icon.item.toggle_sidebar.set_expense(href="/m/asset" class="{{isActivePath '/m/asset'}}" title='expenses')
            i.large.wrench.icon
            |assets            
        if is_eric
            a.icon.item.toggle_dev.toggle_sidebar
                |toggle dev
                if is_dev
                    i.code.blue.large.icon
                else
                    i.code.large.icon
        if is_in_admin
            a.icon.item.toggle_admin.toggle_sidebar
                |toggle admin
                if is_admin
                    i.shield.blue.large.icon
                else
                    i.shield.large.icon
            
        if is_admin
            // a.item.toggle_sidebar.set_badge(href="/m/badge" class="{{isActivePath 'badges'}}")
            //     i.certificate.blue.icon
            //     | badges
            // a.item.toggle_sidebar.set_debit(href="/m/debit" class="{{isActivePath regex='rentals'}}")
            //     i.gift.blue.icon
            //     |gifts
            .divider
            // a.item.toggle_sidebar.set_project(href="/m/project" class="{{isActivePath regex='projects'}}")
            //     i.tasks.blue.icon
            //     | projects
            // a.item.toggle_sidebar(href="/m/room" class="{{isActiveRoute 'requests'}}")
            //     i.building.blue.icon
            //     |rooms
            a.blue.item.set_model.toggle_sidebar(href="/m/model" class="{{isActivePath '/m/model'}}")
                |admin
                i.database.blue.icon
            a.item.set_user.toggle_sidebar(href="/m/user" class="{{isActiveRoute '/m/user'}}")
                i.blue.users.icon
                | all users

