template(name='meal_card')
    .ui.card.pointer
        if image_id
            a.image(href="/m/meal/#{_id}/view")
                img.ui.image.zoom(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .content
            a.ui.header(href="/m/meal/#{_id}/view") #{title}
            // |#{when}
            .ui.green.big.label
                |$#{dollar_price}
            // .ui.teal.big.label 
            //     |#{point_price}pts



template(name='meal_view')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column
                    a(href="/m/meal" title='meal')
                        +icolor name='meal' cl='ui inline image pointer'
                        // i.store.big.icon
                        // span.mobile.hidden meal
                    .ui.inline.header 
                        |meal
                    .ui.large.inline.header #{title}
                    div
                    .ui.inline.header 
                        i.cart.icon
                        |buy
                    .ui.big.button.buy_for_usd
                        // |buy for
                        i.shopping.cart.icon
                        |$#{dollar_price}
                    // .ui.inline.header or
                    // .ui.big.teal.button.buy
                    //     // i.cart.icon
                    //     // |buy for 
                    //     |#{point_price}pts
                    // .ui.header your points #{currentUser.points}
                
                    //- .ui.fluid.green.button.submit
                    //-     i.checkmark.icon
                    //-     |submit
                    if can_edit
                        a.ui.icon.button.edit_meal(href="/m/meal/#{_id}/edit")
                            i.large.pencil.icon
                            // |edit
                    if is_dev
                        .ui.header 
                            small author
                        a.ui.header(href="/user/#{_author.username}") 
                            img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                            |#{_author.username}
                    div
                    .ui.inline.header 
                        |cook
                    +user_info cook_id
                    a.ui.header(href="/user/#{_cook.username}") 
                        img.ui.avatar.image(src="{{c.url _cook.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                        |#{_cook.username}
                    +image_view key='image_id' label='image' direct=true
                        
                    .ui.header $#{dollar_price} per item
                    +number_view key='dollar_price' label='usd amount' direct=true
                    +number_view key='inventory' label='inventory' direct=true
                    +textarea_view key='description' label='description' direct=true
                    div 
                    +array_view key='tags' label='tags' direct=true
                    .spacer
                    .spacer
                    +comments
                    +voting_full
                    //- +array_view key='location_tags' label='location_tags' direct=true
                .twelve.wide.column
                    .ui.button.set_latest
                        i.clock.icon
                        |latest orders
                    .ui.button.set_today 
                        i.sun.icon
                        |today
                    .ui.button.set_today 
                        i.chevron.right.icon
                        |tomorrow
                    .ui.input
                        input.select_date(type='date')
                    .ui.button.toggle_complete
                        
                        i.checkmark.icon
                        |complete
                    .ui.large.link.selection.list
                        each mealorders
                            +mealorder_small



template(name='mealorder_small')
    a(href="/m/mealorder/#{_id}/view") 
        .ui.segment.pointer
            .header
                .ui.inline.green.header $#{dollar_amount} #{amount}
                |#{when} 
                img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                |#{author.name}
            .content
                .ui.inline.header {{medium_date date}}
                .ui.small.inline.header {{from_now date}}
                div
                +text_view key='notes' label='notes' direct=true
                div
                .ui.large.label
                    |tiffen type: #{tiffen_type}
                div
                if pickup
                    .ui.label 
                        i.grab.icon
                        |pickup
                if delivery
                    .ui.label 
                        i.truck.icon
                        |delivery
            if is_chef
                .ui.button.mark_complete
                    |mark complete
                if complete 
                    +key_value_edit key='location' value='freezer' direct=true
                    +key_value_edit key='location' value='stand' direct=true

            